* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-size: 26px;
  font-family: "Segoe UI";
  display: flex;
  justify-content: center;
  text-align: center;
}
